{
  "local-rbenv": {
    "group_users": ["vagrant"]
  },
  "app": {
    "user": "vagrant",
    "group": "vagrant",
    "domain": "aspyatkin-dev.com"
  },
  "run_list": [
    "recipe[aspyatkin.com]"
  ]
}